.invCont {
  width: 80%;
  height: 100%;
  background-color: #323232;
  float: left;
  color: #008c54;
}
.inv {
  width: 80%;
  height: 80%;
  margin: 0 auto;
  position: relative;
  top: 10%;
  background-color: #232323;
  box-shadow: 0 0 0.3vh 0.3vh #434343;
}
table {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}
table td,
table th {
  border: 0.2vh solid #000;
}
table tr th {
  width: 15%;
  height: 8vh;
  line-height: 8vh;
}
table tr th:first-child {
  width: 20%;
  height: 8vh;
  line-height: 8vh;
}
table tr th:nth-child(2) {
  width: 50%;
  height: 8vh;
  line-height: 8vh;
  background-color: #292929;
  font-size: 3vh;
}
table tr td:first-child {
  width: 20%;
  height: 6vh;
  line-height: 6vh;
}
table tr td {
  width: 50%;
  height: 6vh;
  line-height: 6vh;
  font-size: 2vh;
}
table tr td:nth-child(3) {
  width: 15%;
  height: 6vh;
  line-height: 6vh;
  font-size: 3vh;
  font-style: italic;
  color: red;
}
table tr td:last-child{
  width: 15%;
  height: 6vh;
  line-height: 6vh;
  font-size: 3vh;
  font-style: italic;
  color: #FFD700;
}
