.userpanelcont {
  width: 80%;
  height: 100%;
  float: left;
  background-color: #323232;
  color: #008c54;
}
.userpanel {
  width: 35%;
  height: 35%;
  margin: 0 auto;
  position: relative;
  top: 30%;
  background-color: #232323;
  box-shadow: 0 0 0.3vh 0.3vh #434343;
}
.avatar {
  text-align: center;
  width: 30%;
  height: 50%;
  float: left;
}
.userInfo {
  width: 70%;
  height: 50%;
  float: left;
}
.userSett {
  text-align: center;
  padding-bottom: 5%;
  padding-top: 2%;
}
span {
  display: block;
}
.userNick {
  margin-bottom: 2%;
}
input[name="changePassword"] {
  margin-top: 2vh;
  width: 7vw;
  height: 3vh;
  line-height: 2.75vh;
  font-size: 2vh;
  background-color: #323232;
  border: none;
  border-radius: 0.25vh;
  box-shadow: 0.1vh 0.1vh 0.1vh 0.1vh #4b4a4a;
  color: #008c54;
  margin-right: 2%;
  margin-left: 2%;
}
input[name="changeInfo"] {
  margin-top: 2vh;
  width: 7vw;
  height: 3vh;
  line-height: 2.75vh;
  font-size: 2vh;
  background-color: #323232;
  border: none;
  border-radius: 0.25vh;
  box-shadow: 0.1vh 0.1vh 0.1vh 0.1vh #4b4a4a;
  color: #008c54;
}
