body {
  background-color: #323232;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  font-family: "Roboto", sans-serif;
}
.rejestracjaCont {
  margin: 0 auto;
  width: 20%;
  height: 45%;
  background-color: #232323;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 15%;
  text-align: center;
  border-radius: 1vh;
}
.formularz {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.formGrupa {
  position: relative;
  margin-bottom: 1vh;
}
.rejestracjaCont h2 {
  font-size: 4vh;
  letter-spacing: 0.1vw;
  color: #008c54;
}
.rejestracjaCont .formGrupa input {
  color: lightgrey;
  margin-top: 1vh;
  padding-left: 0.5vw;
  line-height: 3vh;
  border: none;
  border-bottom: 1px solid #000;
  outline: none;
  background-color: #232323;
}
.rejestracjaCont .formGrupa label {
  position: absolute;
  top: 1vh;
  left: 0.5vw;
  color: #008c54;
  pointer-events: none;
  transition: 0.5s;
}
.rejestracjaCont .formGrupa input:focus + label,
.rejestracjaCont .formGrupa input:valid + label {
  top: -0.75vh;
  left: 0;
  color: #2cba65;
}
input[type="submit"] {
  margin-top: 2vh;
  width: 5vw;
  height: 3vh;
  line-height: 2.75vh;
  font-size: 2vh;
  background-color: #323232;
  border: none;
  border-radius: 0.25vh;
  box-shadow: 0.1vh 0.1vh 0.1vh 0.1vh #4b4a4a;
  color: #008c54;
}
input[type="submit"]:hover {
  color: #2cba65;
  background-color: #383838;
  box-shadow: 0.1vh 0.1vh 0.1vh 0.1vh #3f3e3e;
  cursor: pointer;
}
