.dashboardCont {
  width: 80%;
  height: 100%;
  float: left;
  background-color: #323232;
  color: #008c54;
}
.graphsCont {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: relative;
  background-color: #232323;
  box-shadow: 0 0 0.3vh 0.3vh #434343;
}
.linearCont {
  height: 100%;
  float: left;
}
.circularCont {
  width: 50%;
  height: 100%;
  float: left;
  display: flex;
}
.linearGraphDesc {
  width: 100%;
  height: 15%;
}
.linearGraph {
  width: 100%;
}
.circularGraphDesc {
  width: 100%;
  height: 15%;
}
.circularGraph {
  width: 100%;
  height: 33%;
}
